	@charset "utf-8";
	/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'yanone_kaffeesatzlight';
font-family: 'MyriadPro-Regular';
font-family: 'news701_btbold';
font-family: 'Signika', sans-serif;



font-family:"Lato Black";
font-family: 'Lato', sans-serif;

*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none; }
/* End Reset */


.top2 { margin-top:2px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top18 { margin-top:18px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top115 { margin-top:115px; }
.top120 { margin-top:120px; }
.top150 { margin-top:150px; }
.top170 { margin-top:170px; }
.top220 { margin-top:220px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top210 { margin-top:210px; }
.top240 { margin-top:240px; }
.top270 { margin-top:270px; }
.top300 { margin-top:300px; }
.top350 { margin-top:350px; }
.top395 { margin-top:395px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left210 { margin-left:210px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right90 { margin-right:90px; }
.right100 { margin-right:100px; }
.right130 { margin-right:130px; }
.right210 { margin-right:210px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb200 { padding-bottom:200px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }


.pg0{
	padding: 0px;
}


.container{
	width: 1170px !important;
}



.input100{
	width: 100% !important;
}


.lato-black{
	font-family:"Lato Black";
}



body, span{
	font-family: 'Lato', sans-serif;
}



h1{
	color:#000;
	font-size:30px;
	font-weight:300;
}

h1 span{
	color:#fff;
	font-family:"Lato Black";
	font-size:50px;
	text-shadow: -2px -1px 4px rgba(0, 0, 0, 1);

}


h2{
	font-weight:400;
	color:#5b5b5b;
	font-size:17px;


}

h3{
	font-family:"Lato Black";
	font-size:36px;
	color:#29a6e0;
}

h3 span{
	font-family:"Lato Black";
	font-size:31px;
}


h4{
	font-weight:700;
	font-size:13px;
	color:#fff;
	text-shadow: -2px -1px 4px rgba(0, 0, 0, 1);

}

h4 span{
	text-shadow:none;
	font-weight:700;
	font-size:25px;
	color:#29a6e0;
}

h5{
	font-family:"Lato Black";
	text-shadow: -2px -1px 4px rgba(0, 0, 0, 1);
	font-size:37px;
	color:#fff;
}

h5 span{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:25px;
}

h6 {
	font-weight: 100;
	color: #110c25;
	font-size: 35px;
	text-decoration: underline;
}


p{
	font-weight: 300;
	font-size: 20px;
	color: #000;
	text-align: justify;
}

a:hover{
	text-decoration: none !important;
}



/**
============================================
					rodape
============================================
*/
.rodape{
	height:208px;
	background: url(../imgs/bg-rodape.jpg) top center no-repeat;
}

.rodape-preto{
	background: #110c25;
}

.rodape-preto h5{
	font-size:20px;
	color: #fff;
	font-weight: 300;
}


.menu-rodape li a {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	margin-right: 20px;
}

.menu-rodape li a:hover{
	font-weight: 700;
}

{
	font-weight: 700;
}

.menu-rodape {
	list-style: none;
	padding: 0px;
}

.bg-menu-rodape {
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
}

.menu-rodape li {
	float: left;
}

.rodape p {
	font-weight: 300;
	color: #fff;
	font-weight: 300;
	font-size: 18px;
}

.rodape p i {
	margin-right: 10px;
}

input,.btn,.form-control,{
	border-radius: 0;
}

/**
============================================
					rodape
============================================
*/



/**
============================================
					topo
============================================
*/
.bg-topo{
	height:80px;
	background:url(../imgs/fundo-transparente.png) repeat;
}

.bg-topo img{
	margin-top:-64px;
}
.topo-meu-orcamento {
	margin-right: 10px;
	background: #fff;
	width: 470px;
	padding: 0px 10px;
}

.btn-transparente, .btn-transparente:hover, .btn-transparente:focus {
	background: #110c25;
	color: #fff;
	border-radius: 4px;
	border: 2px solid #fff;
	color: #fff;
	font-family: "Lato Black";
	font-size: 16px;
	margin-top: 30px;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.menu .navbar-nav li a {
	padding: 30px 12px;
	height: 60px;
	font-weight: 300;
	font-size: 25px;
	color: #fff;
}



.menu.active a{
	background:url(../imgs/hover-menu.png) top left no-repeat;
}
.menu li a:hover, .menu li.active{
	background:url(../imgs/hover-menu.png) top left no-repeat;
}

.slider-index h1{
	font-family:"Lato Black";
	text-shadow: -2px -1px 4px rgba(0, 0, 0, 1);
	font-size:50px;
	color:#fff;
}

.btn-azul, .btn-azul:hover, .btn-azul:focus {
	background:#110c25;
	color: #fff;
	border-radius: 20px;
	color: #fff;
	font-size:25px;
	font-weight:300;
	padding:30px 40px;
	margin-top: 30px;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	-webkit-box-shadow: -3px 4px 5px 0px rgba(5, 0, 0, 1);
	-moz-box-shadow:    -3px 4px 5px 0px rgba(5, 0, 0, 1);
	box-shadow:         -3px 4px 5px 0px rgba(5, 0, 0, 1);
}

/*.slider-index .carousel-caption {
	width:85%;
	} */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.padding0{
	padding: 0px !important;
}


/* Carousel base class */
.slider-index .carousel {
	height: 992px;
}
/* Since positioning the image, we need to help out the caption */
.slider-index .carousel-caption {
	z-index: 10;
	bottom: 365px;
}

/* Declare heights because of positioning of img element */
.slider-index .carousel .item {
	height: 992px;
	background-color: #777;
}
.slider-index .carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 992px;
}

/*manter topo sempre em cima do slider*/
.topo-site{
	position: absolute;
	top: 0px;
	z-index: 100;
	width: 100%;
}
/*manter topo sempre em cima do slider*/

.slider-index a{
	color:#fff;
}
/**
============================================
					topo
============================================
*/


/**
============================================
					HOME
============================================
*/
.fundo-azul{
	overflow: hidden;
	background:url(../imgs/fundo_azul_sombra.png) bottom no-repeat;
}

.form{
	position:relative;

	background:#fff;
}

 /*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

 .fundo-azul .nav>li>a,
 .fundo-azul .nav>li>a:hover {
 	color:#29a6e0;
 	font-family: "Lato Black";
 	font-size:17px;
 	padding: 10px 5px;
 	text-shadow: 0px -1px 6px rgba(0, 0, 0, 0.75);
 }

 .fundo-azul .nav>li>a:hover {
 	background: #54b8e6;
 	color:#29a6e0;
 	font-family: "Lato Black";

 	text-shadow: 0px -1px 6px rgba(0, 0, 0, 0.75);
 }

 .fundo-azul .nav-pills>li.active>a,
 .fundo-azul .nav-pills>li.active>a:hover,
 .fundo-azul .nav-pills>li.active>a:focus {
 	background: #54b8e6;
 }

.div_personalizada {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

 .fundo-azul .input-group-lg>.form-control{
	 border-radius: 0;
	 border-right: 0;
 	font-size: 13px;
 }

 .fundo-azul .nav-pills>li+li {
     margin-left: 0;
 }

 .btn-transparente-produto,.btn-transparente-produto:hover{
 	color:#29a6e0;
 	font-size:15px;

 }

 .produtos-home .thumbnail{
 	border-radius:inherit;
 	border:inherit;
 	border-bottom: 2px solid #29a6e0;
 }

 .produtos-home h2{
 	overflow:hidden;
 	height:55px;
 }


 .bg-nosso-trabalho{
	padding-bottom: 40px;
 	background:url(../imgs/bg-sobre-fogos.jpg) top -2px center no-repeat;
 }


 .bg-nosso-dicas{
 	height:700px;
 	background:url(../imgs/bg-dicas-home.jpg) top center no-repeat;
 }

 .bg-nosso-dicas p,.nossas-dicas p{
 	overflow:hidden;
 	height:64px;
 }

 .bg-nosso-dicas .thumbnail,.nossos-dicas .thumbnail{
 	background:inherit;
 	border:none;
 }

/**
============================================
					HOME
============================================
*/



/**
============================================
					DICA E INTERNAS
============================================
*/

.bg-dicas{
	height:492px;
	background:url(../imgs/bg-dicas.jpg) top center no-repeat;
}

.fundo-cinza{
	background:#cfcfcf !important;
	height:80px;
}

.fundo-cinza span{
	text-shadow:none;
	color:#000;
	font-weight:400;
}


.btn-drop{
	font-weight:300;
	font-size:20px;
	color:#000;
	background:#fff;
}

.menu-categorias {
	min-width: 304px;
	margin: 41px 0 0;
	font-size: 18px;
}

.fundo-azul .input-group-lg>.input-group-btn>.btn {
	background:#fff;
	color:#29a6e0;
	border-radius: 0;
	border-left: 0;

}

.descendo .fa-chevron-down:before{
	color:#fff;
}


.descricao-dica h3{
	overflow:hidden;
	height:78px;
	color:#fff;
}

.descricao-dica p{
	overflow:hidden;
	text-align:center;
	margin-top:14px;
	height:24px;
	color:#fff;
}

.comentario-dicas h1{
	font-size:28px;
	color:#29a6e0;
	font-weight:400;
}

.comentario-dicas h2{
	font-size:40px;
	color:#29a6e0;
	font-family: "Lato Black";
}

.btn-comentario,.btn-roxo{
	border-radius:0px;
	padding:16px 70px;
	background:#29a6e0;
	font-size: 17px;
	color:#fff;
	font-weight:300;
}

.fundo-dica-dentro{
	background:url(../imgs/bg-dica-dentro.jpg) bottom right no-repeat;
}

.veja{
	background:#e5e5e5;
}
/**
============================================
					PRODUTOS
============================================
*/
.bg-produtos{
	height:492px;
	background:url(../imgs/bg-produtos.jpg) top center no-repeat;
}

.btn-roxo{
	color:#fff;
	background:#110c25;

}

.btn-roxo:hover{
	border-radius:0px;
	padding:16px 70px;
	background:#1e1a33;
	font-size: 17px;
	color:#fff;
	font-weight:300;
}

.produto-dentro h5{
	color:#000;
	text-shadow:none;
}
/**
============================================
					PRODUTOS
============================================
*/

/**
============================================
					EMPRESA
============================================
*/

.bg-empresa{
	height:492px;
	background:url(../imgs/bg-empresa.jpg) top center no-repeat;
}

.descricao-empresa{
	padding:10px;
	overflow:auto;
	height:500px;
	width:100%;
	-moz-box-shadow:    inset 0 0 55px #000000;
	-webkit-box-shadow: inset 0 0 55px #000000;
	box-shadow:         inset 0 0 55px #000;
	background:#fff;
}



.descricao-depoimento{
	padding:15px;
	-moz-box-shadow:    inset 0 0 55px #000000;
	-webkit-box-shadow: inset 0 0 55px #000000;
	box-shadow:         inset 0 0 55px #000;
	background:#fff;
}

.descricao1{
	overflow:auto;
	height:170px;
}

.descricao-depoimento .carousel-control {
	top: 356px;
	width: 80%;
}
/**
============================================
					EMPRESA
============================================
*/



/**
============================================
					CONTATOS
============================================
*/


.bg-contatos{
	height:492px;
	background:url(../imgs/bg-contatos.jpg) top center no-repeat;
}


.contatos .nav li a {
	margin-left: 16px;
    width: 262px;
    height: 50px;
    opacity: 1;
    background: #dbdbdb;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.contatos .nav>li a:hover{
	margin-left: 15px;
	width: 262px;
	background:#dbdbdb;
	opacity:0.75;

}

/* .fale-conosco, .fale-conosco:hover,.fale-conosco:focus{
	background:  #dbdbdb url(../imgs/icon-fale.png) left 10px center no-repeat;
}



.trabalhe-conosco, .trabalhe-conosco:hover{
	background: url(../imgs/icon-trabalhe.png) left 10px center no-repeat;
}

 */

.contatos .nav-stacked>li {
	width: 262px;
	margin-bottom: 10px;
}

.fundo-contatos{
	overflow:hidden;
	background:#dbdbdb;
}


.fundo-contatos h1{
	margin-top: 10px;
}



.contatos h5{
	text-shadow:none;
	font-size:25px;
	color:#000;
	font-family: "Lato Black";

}

.contatos h5 span{
	font-size:18px;

}

.contatos h1{
	font-weight:700;
}

.btn-azul-claro{
	margin-top:5px;
	color:#fff;
	border-radius:0px;
	background:#29a6e0;
}

.btn-formulario{
	padding:20px 40px;
	font-size:18px;
	font-family: "Lato Black";
	color:#fff;
	border-radius:0px;
	background:#29a6e0;
}

.btn-formulario:hover,.btn-azul-claro:hover{
	background:#09698f;
	color:#fff;

}

.contatos-geral1 p, .contatos-geral p {
	overflow: hidden;
	width: 375px;
	height: 59px;
}

.fundo-formulario{
	margin-top:-213px;
	border-radius:10px;
	background:#dbdbdb;
}

.fundo-formulario label,.formulario-orcamento label{
	font-size:20px;
	color:#29a6e0;
}
/**
============================================
					CONTATOS
============================================
*/



/**
============================================
					ORCAMENTO
============================================
*/
.bg-orcamento{
	height:497px;
	background:url(../imgs/bg-orcamento.jpg) top center no-repeat;
}

.tb-lista-itens td{
	border-bottom: 2px solid #fff;
}

.tb-lista-itens td,.fa-times-circle:before {
	color:#000;
	font-size:17px;
	vertical-align: middle !important;
}

.input-lista-prod-orcamentos {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tb-lista-itens tbody,.tb-lista-itens table{
	margin-bottom: 0px !important;
	border-bottom:2px solid #fff;
	background:#dbdbdb;
}

.tb-lista-itens h5,.formulario-orcamento h5{
	text-shadow:none;
	color:#29a6e0;
}

/**
============================================
					ORCAMENTO
============================================
*/

/**
============================================
					portfolio
============================================
*/
.bg-portfolio{
	height:497px;

}

.bg-interna{
	padding-top: 20px;

}


/**
============================================
Pinterest-like Responsive Grid
============================================
*/

#pinBoot {
	position: relative;
	max-width: 100%;
	width: 100%;
}
.pintrest iframe {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.pintrest img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.white-panel {
	position: absolute;
	background: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/


.white-panel:hover {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	margin-top: -5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.portfolio-dentro p{
	text-align:center;
	font-family:"Lato Black";
	text-shadow: -2px -1px 4px rgba(0, 0, 0, 1);
	color:#fff;
}




.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.descendo {
    width: 42%;
    left: 30%;
    text-align: center;
    position: absolute;
    top: 35%;
}

.descendo h5{
    font-size: 55px;
}


.descricao-dica h3{
		color:#fff;
		height:78px;
		overflow:hidden;
		text-shadow: -2px -1px 4px rgba(0, 0, 0, 1);
}

.descricao-dica p{
	color:#fff;
	font-size:17px;
	height:24px;
	overflow:hidden;
	text-align:center;
	text-shadow: -2px -1px 4px rgba(0, 0, 0, 1);
}
/**
============================================
					portfolio
============================================
*/





.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
	padding-bottom: 10px;
}


.lista-itens-carrinho h1{
	font-size: 20px;
}


.contatos-topo h5 span{
font-size: 25px;
font-family: 'Lato', sans-serif;
font-weight: 300;
}


.menu_produtos_desc h5{
	margin-top: 10px;
	font-size: 27px;
}
.contatos_rodape .fa-home:before{
  font-size: 26px;
}

.contatos_rodape .fa-phone:before {
    font-size: 26px;
}


.barra_video{
	position: absolute;
	bottom: 2px;
	height: 35px;
	width: 100%;
	background: url(../imgs/barra_video.png) bottom no-repeat;
}


.relativo{
	position: relative;
}
