@charset "utf-8";@import url('./fonts.css');*{margin:0;padding:0;text-decoration:none;}
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top130{margin-top:130px;}
.top140{margin-top:140px;}
.top150{margin-top:150px;}
.top160{margin-top:160px;}
.top170{margin-top:170px;}
.top180{margin-top:180px;}
.top190{margin-top:190px;}
.top195{margin-top:195px;}
.top210{margin-top:210px;}
.top230{margin-top:230px;}
.top250{margin-top:250px;}
.top260{margin-top:260px;}
.top270{margin-top:270px;}
.top330{margin-top:330px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left130{margin-left:130px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right130{margin-right:130px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt170{padding-top:170px;}
.pt300{padding-top:300px;}
.pl5{padding-left:5px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.container{max-width:480px;}
.input100{width:100% !important;}
body{font-family:'Lato', sans-serif;}
.padding0{padding:0px !important;}
h1{color:#000;font-size:20px;font-weight:300;}
h1 span{}
h2{font-weight:400;color:#5b5b5b;font-size:15px;}
h2 span{}
h3{font-size:12px;color:#fff;font-weight:700;text-shadow:-2px 3px 4px rgba(0, 0, 0, 1);}
h3 span{font-size:20px;}
h4{font-family:"Lato Black";font-size:25px;color:#29a6e0;}
h4 span{font-size:30px;}
h5{font-family:"Lato Black";text-shadow:-2px -1px 4px rgba(0, 0, 0, 1);font-size:29px;color:#fff;}
h5 span{font-size:23px;}
h6{font-family:"Lato Black";text-shadow:-2px -1px 4px rgba(0, 0, 0, 1);font-size:31px;color:#fff;}
p{color:#5b5b5b;font-size:15px;text-align:justify;}
a:hover{text-decoration:none;}
.img-interna{padding-bottom:200px;padding-top:290px;}
.bg-fundo-preto{position:relative;background:#000;}
.bg-fundo-preto p{font-size:20px;color:#fff;font-weight:700;padding:10px 0px;text-align:center;}
.fundo-form{background:#1a1a1a;}
.fundo-form,.btn-pesquisa,.btn-pesquisa:hover,.btn-pesquisa:focus{color:#fff;background:#1a1a1a;}
.topo-site{position:absolute;top:0px;z-index:9999;width:100%;}
.btn-topo,.btn-topo:hover{padding:11px 43px;background:#e02932;}
.fundo-menu{height:69px;background:url(../imgs/fundo-transparente.png);}
.fundo-menu img{margin-top:-27px;}
.btn-menu,.btn-menu:hover{font-size:17px;color:#fff;font-weight:400;}
.sub-menu.dropdown-menu>li>a,.sub-menu.dropdown-menu{color:#fefefe;padding:7px 5px;}
.sub-menu.dropdown-menu{background:#000;top:136%;margin:2px 13px 0;}
.btn-azul-escuro,.btn-azul-escuro:hover{padding:19px 24px;font-size:20px;background:#110c25;color:#fff;}
.btn-azul-escuro1,.btn-azul-escuro1:hover{font-size:20px;background:#110c25;color:#fff;}
.topo-meu-orcamento{color:#fff;min-width:163px;margin:2px 12px 0;font-size:14px;background:#000;}
.btn-azul,.btn-azul:hover,.btn-azul:focus{font-size:15px;color:#fff;background:#110c25;border-radius:10px;font-weight:300;padding:17px 22px;margin-top:10px;text-shadow:0px 0px 5px rgba(0, 0, 0, 1);-webkit-box-shadow:-3px 4px 5px 0px rgba(5, 0, 0, 1);-moz-box-shadow:-3px 4px 5px 0px rgba(5, 0, 0, 1);box-shadow:-3px 4px 5px 0px rgba(5, 0, 0, 1);}
.slider-index .carousel-caption{bottom:68px;}
.slider-index .carousel-caption{right:0%;left:0%;padding-top:0px;}
.bg-nosso-trabalho{background:url(../imgs/bg-sobre-fogos.jpg) top right no-repeat;}
.fundo-azul{height:auto;background:#29a6e0;overflow:hidden;}
.effect2{position:relative;}
.effect2:before, .effect2:after{background:#777;bottom:7px;box-shadow:0 15px 10px #777;content:"";left:1px;max-width:300px;position:absolute;top:63%;transform:rotate(-3deg);width:50%;z-index:-1;}
.effect2:after{transform:rotate(3deg);right:1px;left:auto;}
.fundo-azul .nav-pills>li.active>a, .fundo-azul .nav-pills>li.active>a:hover, .fundo-azul .nav-pills>li.active>a:focus{background:#54b8e6;}
.fundo-azul .nav>li>a,.fundo-azul .nav>li>a:hover{color:#29a6e0;font-family:"Lato Black";font-size:15px;text-shadow:0px -1px 6px rgba(0, 0, 0, 0.75);}
.input-group-lg>.input-group-btn>.btn{font-size:12px;background:#29a6e0;color:#fff;}
.input-group .form-control{font-size:11px;}
.fundo-azul .nav>li>a:hover{background:#54b8e6;color:#29a6e0;font-family:"Lato Black";font-size:15px;text-shadow:0px -1px 6px rgba(0, 0, 0, 0.75);}
.produtos-home h2{overflow:hidden;height:35px;}
.btn-transparente-produto, .btn-transparente-produto:hover{background:#fff;border:1px solid #29a6e0;color:#29a6e0;font-size:13px;}
.produtos-home .thumbnail{border:inherit;border-radius:0px;border-bottom:2px solid #29a6e0;}
.bg-nosso-dicas h3,.bg-nosso-dicas h2{text-shadow:none;font-family:"Lato Black";font-size:15px;color:#29a6e0;}
.bg-nosso-dicas h2{font-size:20px;}
.bg-nosso-dicas p, .nossas-dicas p{color:#000;overflow:hidden;height:84px;}
.bg-nosso-dicas{background:url(../imgs/bg-dicas-home.jpg) bottom left no-repeat;}
.bg-empresa{background:url(../imgs/bg-empresa.jpg) top center no-repeat;}
.descricao-empresa{padding:10px;overflow:auto;height:600px;width:100%;-moz-box-shadow:inset 0 0 55px #000000;-webkit-box-shadow:inset 0 0 55px #000000;box-shadow:inset 0 0 55px #000;background:#fff;}
.descricao-depoimento{padding:15px;-moz-box-shadow:inset 0 0 55px #000000;-webkit-box-shadow:inset 0 0 55px #000000;box-shadow:inset 0 0 55px #000;background:#fff;}
.descricao-depoimento .carousel-control{top:356px;width:80%;}
.descricao1{overflow:auto;height:170px;}
.dizem h5{font-size:39px;color:#fff;}
.bg-produtos{background:url(../imgs/bg-produtos.jpg) top center no-repeat;}
.btn-roxo,.btn-roxo:hover{border-radius:0px;padding:16px 30px;background:#1e1a33;font-size:17px;color:#fff;font-weight:300;}
.btn-comentario,.btn-comentario:hover{border-radius:0px;background:#29a6e0;font-size:17px;color:#fff;font-weight:300;}
.bg-dicas{background:url(../imgs/bg-dicas.jpg) top center no-repeat;}
.fundo-cinza{background:#cfcfcf !important;height:80px;}
.btn-drop,.btn-drop:hover{border-radius:0px;font-weight:300;font-size:17px;color:#000;background:#fff;}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn{font-size:13px;border-radius:0px;}
.descricao-dica h4{overflow:hidden;height:78px;color:#fff;}
.descricao-dica p{overflow:hidden;text-align:center;margin-top:14px;height:24px;color:#fff;}
.comentario-dicas h1{font-size:20px;color:#29a6e0;font-weight:400;}
.comentario-dicas h2{font-weight:700;font-size:28px;color:#29a6e0;}
.comentario h1{font-size:17px;color:#29a6e0;font-weight:700;}
.comentario p{font-weight:400;font-size:15px;}
.container .jumbotron, .container-fluid .jumbotron{border-radius:0px;margin-bottom:10px;padding:30px 20px;}
.bg-portfolio{background:url(../imgs/bg-portfolio.jpg) top center no-repeat;}
#pinBoot{position:relative;max-width:100%;width:100%;}
.pintrest iframe{width:100%;max-width:100%;height:auto;}
.pintrest img{width:100%;max-width:100%;height:auto;}
.white-panel{position:absolute;background:white;box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3);padding:2px;}
.white-panel:hover{box-shadow:1px 1px 10px rgba(0, 0, 0, 0.5);margin-top:-5px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.portfolio-dentro p{text-align:center;font-family:"Lato Black";text-shadow:-2px -1px 4px rgba(0, 0, 0, 1);color:#fff;}
.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.descendo{width:60%;left:20%;text-align:center;position:absolute;top:56%;}
.descricao-dica h3{color:#fff;height:78px;overflow:hidden;text-shadow:-2px -1px 4px rgba(0, 0, 0, 1);}
.descricao-dica p{color:#fff;font-size:17px;height:24px;overflow:hidden;text-align:center;text-shadow:-2px -1px 4px rgba(0, 0, 0, 1);}
.btn-azul-claro,.btn-azul-claro:hover{margin-top:5px;color:#fff;border-radius:0px;background:#29a6e0;}
.bg-contatos{background:url(../imgs/bg-contatos.jpg) top center no-repeat;}
.contatos .nav li a{width:200px;opacity:1;background:#dbdbdb;font-size:13px;font-weight:700;color:#000;}
.contatos .nav-tabs.active a,.contatos .nav>li a:hover{width:200px;background:#dbdbdb;opacity:0.75;}
.fundo-contatos{overflow:hidden;background:#dbdbdb;}
.contatos h5{text-shadow:none;font-size:25px;color:#000;font-family:"Lato Black";}
.contatos h5 span{font-size:18px;}
.contatos h1{font-weight:700;}
.fundo-contatos h5{text-shadow:none;font-size:25px;color:#000;font-family:"Lato Black";}
.fundo-contatos h5 span{font-size:18px;}
.fundo-contatos h1{margin-top:10px;font-size:28px;font-weight:700;}
.btn-azul-claro,.btn-azul-claro:hover{margin-top:5px;color:#fff;border-radius:0px;background:#29a6e0;}
.btn-formulario,.btn-formulario:hover{font-family:"Lato Black";color:#fff;border-radius:0px;background:#29a6e0;}
.fundo-formulario{overflow:hidden;border-radius:10px;background:#dbdbdb;}
.fundo-formulario label,.formulario-orcamento label{font-size:15px;color:#29a6e0;}
.bg-orcamento{background:url(../imgs/bg-orcamento.jpg) top center no-repeat;}
.tb-lista-itens td,.fa-times-circle:before{color:#000;font-size:17px;vertical-align:middle !important;}
.input-lista-prod-orcamentos{width:40px;height:40px;line-height:40px;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.tb-lista-itens tbody,.tb-lista-itens table{margin-bottom:0px !important;border-bottom:2px solid #fff;background:#dbdbdb;}
.tb-lista-itens h5,.formulario-orcamento h5{text-shadow:none;color:#29a6e0;}
.dicas-home .thumbnail{background:none;border:none;}
.topo-meu-orcamento{width:420px;}
.topo-meu-orcamento h1{margin-top:6px;font-weight:700;color:#fff;font-size:14px;}
.topo-meu-orcamento{min-width:196px;padding:5px 9px;}
.lista-itens-carrinho{margin:10px 0px;overflow:hidden;border-bottom:2px solid #e5e5e5;margin-bottom:10px;padding-bottom:5px;}